.App {
  text-align: center;
}

.appLogo {
  height: 10vmin;
  animation: grow 5s infinite;
}

@keyframes grow {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.appHeader {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes growSmall {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.Logo-name {
  font-size: calc(10px + 1vmin);
}

.login-title {
  padding-top:200px;
  
}

.getCodeButton {
  animation: growSmall 4s infinite;
}

.viewBtn {
  background-color: #a2a2a2;
  margin-top: 1%;
  margin-bottom: 5%;
  color:white;
  width:145px;
  height:25px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  padding: 0;
  transition: transform .4s;
}

.viewBtn:hover {
  transform:scale(1.2);
}

.getCodeBtn {
  background-color:#a2a2a2;
  color:white;
  margin-top: 10%;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  margin-bottom: 7.6%;
  padding: 10px;
  transition: transform .4s;
}

.downloadCodeBtn {
  background-color:#a2a2a2;
  margin-top: 10%;
  color:white;
  width:150px;
  height:25px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  padding: 0;
  transition: transform .4s;
}

.submitBtn {
  background-color:#1e90ff;
  color:white;
  cursor: pointer;
  width:60px;
  height:25px;
  font-size: 14px;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  padding: 0;
  transition: transform .4s;
}

.submitBtn:disabled {
  background-color:gainsboro;
  cursor:default;
}

.submitBtn:disabled:hover {
  transform:scale(1);
}

.getCodeBtn:hover, .downloadCodeBtn:hover{
  transform:scale(1.2);
}

.submitBtn:hover {
  transform:scale(1.2);
}

.footer {
  background-color: white;
  border-radius: 20px;
  width: 150px;
  font-weight: bold;
  font-size: 12px;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}









.basicBtn {
  background-color:#a2a2a2;
  color:white;
  width:150px;
  height:25px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  padding: 0;
  transition: transform .4s;
  margin-bottom: 4%;
}


.basicBtn:hover {
  transform:scale(1.2);
}