.email-form-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
   /* margin-bottom: 20px; */
}

.email-form {
  /* width: 20%; */
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width:300px;
}

.email-form.dark {
  background-color: #333333;
}
.title {
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  /* width: 20%; */
  opacity: 1;
  font-weight: 600;
  font-size: 8px;
  /* position: absolute;
  top: 100px; */
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
  width:360px;
  /* left: 50%;
  transform: translateX(-50%); */
}

.title.dark {
  background-color: #333333;
  color:white;
}


.email-input {
  margin-bottom: 10px;


}

/* .email-form-container.bottom {
  margin-bottom: -40px;
} */

.email-input input {
  width: 80%;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  border: 2px solid #f6f6f6;
  font-weight: bold;
}

.defaultBtnForm{
  background-color: transparent;
  color: none;
  visibility: visible;
  border: none;
  margin-top: 40px;
  padding: 2px 8px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 15px;
  font-size: 16px;
  background-color: #f6f6f6;
  color: darkgray;
  transition: opacity 0.3s ;
  opacity:1;
}

.defaultBtnForm:hover:not(.disabled) {
  
  filter: brightness(96%);
}

.pulse {
    animation: grow 3s infinite;
  }
  @keyframes grow {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.defaultBtnForm.disabled {
    opacity: 0.5;
    cursor:auto;
    pointer-events: none;
}

.email-input input:focus {
  outline: none;
  transform: scale(1.1);
  /* border: 2px solid #f6f6f6;   */
}

.email-input input:hover {
    outline: none;
    transform: scale(1.1);
    /* border: 2px solid #f6f6f6;   */
}

.email-input input.valid {
  color: black;
  /* border: 2px solid #f6f6f6; */
}

.email-input input:invalid {
  color: gray;
}

.titleDiv {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  margin: auto;
  opacity: 1;
  font-weight: bold;
}

.submitted {
  font-weight: bold;
  font-size: 12px;
}

.containerMain {
    display: flex;
    flex-direction: column;
    width:500px;
    margin: 50px auto;
    /* margin-top:20px; */

    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* top:50px; */
    /* left: 0; */
  /* right: 0; */
  }
  

  /* .containerMain.dark {
    background-color: #333333;
  } */


  @media screen and (max-width: 1000px) {
    .containerMain, .email-form {
        width:260px !important;
    }

    .title {
        width:320px !important;
    }
  }